<%= form_for(:session, url: login_path) do |form| %>
    
    <div class="form-group row">
        <%= form.label "Email:", :class => "col-4 col-form-label" %>
        <div class="col-8">
          <%= form.email_field :email, :class => "form-control", :required => true %>
        </div>
    </div>
    <div class="form-group row">
        <%= form.label "password:", :class => "col-4 col-form-label" %>
        <div class="col-8">
          <%= form.password_field :password, :class => "form-control", :required => true %>
        </div>
    </div>
      
      <%= form.label :remember_me, class: "checkbox inline" do %>
        <%= form.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <div class="actions">
          <%= form.submit "Login", :class => "btn btn-info post-item-btn" %>
      </div>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>

