<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand ml-5" href="#"><%= fa_icon('exchange') %> eRent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <% if  !logged_in? %>
            <li class="nav-item">
              <a data-toggle= "modal" data-target="#signupModal" class="nav-link">Sign up</a>
            </li>
            <li class="nav-item">
              <a data-toggle= "modal" data-target="#loginModal" class="nav-link">Login</a>
            </li>
            
            <% elsif logged_in? %>
            <li><a href="/users/<%= current_user.id %>" class="nav-link"><%= current_user.username %></a></li>
            <li class="nav-item">
              <%= link_to "Logout", logout_path, method: :delete, :class => "nav-link" %> </a>
            </li>
            <li class="nav-item">
              <a data-toggle= "modal" data-target="#PostModal" class="nav-link">Post Item</a>
            </li>
            <%end%>
          </ul>
          <form class="form-inline mt-2 mt-md-0 mr-5">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="alert alert-info" role="alert">
            Provide the email and password you signed up with.
          </div>
          <%= render 'sessions/form', user: @user %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id = "PostModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Post Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="alert alert-info" role="alert">
            Fill out the form below to post an item to be rented by other users.
          </div>
          <%= render 'items/form_modal' %>
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert">
          Fill out the form below to create an account.
        </div>
        <%= render 'users/signup', user: @user%>
      </div>
    </div>
  </div>
</div>