  <% if checked_in(@item)
      @disabled = ""
      @rent_btn_text = "Rent"
    else
      @disabled = "disabled"
      @rent_btn_text = "Unavailable"
  end %>
  
  <div class="container bg-light">
    <div class="row spacer-20 bg-light"></div>
    <div class="row">
      <div class="col-7 bg-light">
        <div class="row">
          <div class="col">
            <span class="item-name"><%= item.name %></span>
            <span class="item-price text-info">(<%= number_to_currency(item.price) %>/day)</span>
          </div>
        </div>
        <div class="row">
          <span class="ml-3"><strong>Location: </strong>&nbsp<%= item.user.city %>, <%= item.user.state %> &nbsp<%= fa_icon("map-marker") %>&nbsp Local pickup ( <%= number_with_precision(@distance, :precision => 1) %> miles away)</span>
        </div>
        <hr>
        <div class="row">
          <span class="ml-3 mr-2">
            <%= item.description %> 
          </span>
        </div>
        <hr>
        <div class="row">
          <div class="tag-container ml-2">
            <button type="button" class="btn btn-outline-info item-option ml-2"><%= fa_icon("bookmark") %> Bookmark</button>
            <button type="button" class="btn btn-outline-info item-option ml-2"><%= fa_icon("share-square-o") %> Share</button>
            <button type="button" class="btn btn-outline-info item-option ml-2"><%= fa_icon("flag") %> Report</button>
          </div>
        </div>
        
        <div class="row mt-3">
          <div class="tag-container ml-2">
            <% @tags.each do |tag| %>
              <button type="button" class="btn btn-info ml-2"><%= tag %></button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-5 bg-light">
        <div class="row mt-2 mb-2">
          <div class="col-5">
            <%= image_tag("default_avatar.jpg", :class => "profile-picture-item float-right d-block") %>
          </div>
          <div class="col-7 mt-2">
            <%= link_to :controller => :users, :action => 'show', :id => item.user.id do %>
            <span class="profile-user-name"><%= item.user.fname %> <%= item.user.lname %></span>
            <% end %>
            </br>
              <%= render 'users/flat_rating', rating: @rating %>
              (<%= @rating_count %>)</br>
          </div>
        </div>
        <div class="row">
          <div class="item-option-container ml-auto mr-auto">
            <% if checked_in(@item) %>
              <button type="button" data-target="#RentModal" data-toggle="modal" class="btn btn-info item-option ml-2"><%= fa_icon('exchange') %>  Rent</button>
            <% else %>
              <button type="button" class="btn btn-info item-option ml-2 disabled"><%= fa_icon('exchange') %>  Unavailable</button>
            <% end %>
            <button type="button" class="btn btn-info item-option ml-2"><%= fa_icon('comment') %>  Contact</button>
            <button type="button" class="btn btn-info item-option ml-2"><%= fa_icon('bookmark') %>  Bookmark</button>
          </div>
        </div>
        <div class="row mt-3">
          <%= image_tag("http://maps.googleapis.com/maps/api/staticmap?center=#{item.user.latitude},#{item.user.longitude}&zoom=15&size=450x200&key=AIzaSyA_x25mqDphJPz0jrC21MWQCICDKqxTCL8", :class => "mx-auto d-block profile-map") %>
        </div> 
      </div>
    </div>
    
    <div class="modal fade bd-example-modal-lg" id = "RentModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rent Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="alert alert-info" role="alert">
            Fill out the form below to submit a rent request for the item to the user.  Once submitted it will go into a pending status until approved by the user.
          </div>
          <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
<%= yield %>
          <%= render 'items/rent_modal', rental: @rental, item: @item %>
      </div>
    </div>
  </div>
</div>