<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <%= stylesheet_link_tag "home", media: "all" %>

    <title>Album example for Bootstrap</title>

  </head>

  <body>

<%= render 'home/navbar' %>

    <main role="main">
      <div class="p-3 p-md-5 text-white bg-info nav-buffer">
    
      </div>

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">eRent</h1>
          <p class="lead text-muted">A peer-2-peer rental app to allow users to make some extra cash on the side renting out items they no longer use.</p>
        </div>
      </section>
      
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <%= yield %>
    <p id="error"><%= flash[:error] %></p>

      <div class="album py-5 bg-light">
        <div class="container">

          <% if @items.count > 0 %>
            <div class="card-columns">
              <% @items.each do |item| %>
                <% puts item %>
                <%= render 'home/item_card', item: item %>
              <% end %>
  
            </div>
          <% else %>
            <div class="alert alert-info" role="alert">
              No items matched your search results.
            </div>
          <% end %>
        </div>
      </div>

    </main>

<%= render 'home/footer' %>

  </body>
</html>