<%= render 'home/navbar' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @item.user_id %>
</p>

<p>
  <strong>Serial no:</strong>
  <%= @item.serial_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @item.tag %>
</p>

<p>
  <strong>Location:</strong>
  <%= @item.location %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @item.model %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>

<%= @status %>

<% if @item.images.count > 0 %>
  <% @item.images.each do |image| %>
    <% if image.variable? %>
      <%= image_tag image, :height => "10%", :width => "10%" %>
    <% elsif image.previewable? %>
      <%= image_tag image, :height => "10%", :width => "10%" %>
    <% end %>
  <% end %>
<% else %>
  <%= image_tag("placeholder.png", :height => "10%", :width => "10%") %>
<% end %>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
